<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Nearest Restaurants</h1>
    <a href="<%= url_for(:action => :index) %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>Back</a>
	
	</div>

  <div data-role="content">
    <ul data-role="listview">
      <% @results.each do |p|%>
        <li>
          <%= "#{p.name} - #{p.distance}" %>
        </li>
      <% end %>
    </ul>
  </div>


</div>
