<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Nearest Restaurants</h1>
	</div>

  <div data-role="content">
    <h1>waiting...</h1>
    <%= "#{Rho::RhoConfig.syncserver}/patches/find" %>
  </div>

</div>
